html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
}

.map {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
}

#bg {
	width: 100%;
	height: 100%;
}

.pin {
	position: absolute;
	width: 20px;
	height: 30px;

	left: 0;
	right: 0;
}